    <!doctype html>
    <html lang="#(appLang)">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="(appDescription)">
      <title>#(appTitle)</title>
      <meta name="description" content="#(appName)">
      <meta name="author" content="#(appAuthor)">
      <link rel="stylesheet" href="css/pure-min.css">
      <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/grids-responsive-old-ie-min.css">
<![endif]-->
      <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="css/grids-responsive-min.css">
      <!--<![endif]-->
      <link rel="stylesheet" href="css/font-awesome.css">
      <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
      <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="css/layouts/marketing.css">
      <!--<![endif]-->
    </head>

    <body>
      <div class="content">
        <div class="pure-g">
          <div class="l-box-lrg pure-u-md-1-5">
          </div>
          <div class="l-box-lrg pure-u-md-2-5">
            <form class="pure-form pure-form-stacked" method="post" action="index.php">
              <fieldset>
                <label for="name">User Name or Email</label>
                <input id="name" type="text" placeholder="Your User Name or Email">
                <button type="submit" class="pure-button">Send me an e-mail</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </body>