<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h1>Dummy</h1>
      <div class=tnContainer>
        <div class=tnTab id=vwTblDummySample>
          <table class="table" id=tblDummySample>
            <thead>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <div class=tnTab id=vwFrmDummySample>
          <form id=frmDummySample></form>
        </div>
      </div>
    </div>
  </div>
</div>


<script src='dummy.js'></script>
