.no-padding {
         padding: 0 !important;
         margin: 0 !important;
      }
.main-menu {
  position: fixed;
  width:100%;
}
.main-page {
  padding-top: 48px;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.main-menu {
  position: fixed;
  z-index: 900;
  width:100%;
}

.main-page {
  padding-top: 48px;
}

#waitIcon {
  z-index: 1000;
  position: fixed;
  width: 100%;
}

#waitIcon div {
  padding: 8px;
  float: left;
}

#waitIcon div img {
  margin-left: 16px;
  vertical-align: middle;
  width: 32px;
}

#waitIcon div span {
  padding-left: 16px;
  vertical-align: middle;
}

.infoPessoa {
  text-transform: capitalize;
}

.infoPessoa img {
  height: 48px;
  vertical-align: middle;
}

.infoPessoa strong {
  font-weight: 800;
  font-size: 120%;
}

.rb-wizard-child {
      display: none
    }

.tnTab {
  /* para usar o pingendo, tire o display:none
  display: none;
  */
}
